* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1240px;
    margin: 0 auto;
    height: 100vh;
}

// Header
nav {
    background-color: yellowgreen;

    ul {
        list-style: none;
        font-size: 0;

        li {
            display: inline-block;
            width: 50%;
            padding: 10px 0;

            a {
                display: block;
                font-size: 30px;
                color: white;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                padding: 10px;
            }
        }
    }
}

.btn-login {
    width: 20%;
    text-align: center;
    border: 2px solid white;
    margin-left: 75%;
    font-size: 15px;


}

.header-img {
    height: 40vh;
    background-image: url(../img/plane.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Formularz

main {
    display: block;
    background-color: white;
    height: 30vh;
    padding: 5px;
}

.main-form {
    display: block;
    border: 2px solid black;
    background-color: rgb(245, 245, 245);
    height: 100%;
    padding: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.booker-row-1 {
    position: relative;
    height: 50%;
    padding: 10px;

    .row-1-column-1 {
        display: inline-block;
        width: 40%;
    }

    .row-1-column-2 {
        display: inline-block;
        width: 40%;
    }
}

label {
    display: block;
}

.booker-row-2 {
    position: relative;
    height: 50%;
    padding: 10px;

    .row-2-column-1 {
        display: inline-block;
        width: 40%;

        .booker-half {
            display: inline-block;
            width: 45%;
        }
    }

    .row-2-column-2 {
        display: inline-block;
        width: 40%;
    }

    .row-2-column-3 {
        display: inline-block;
        width: 15%;
    }
}

// Login panel
#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

.log-panel {
    position: fixed;
    z-index: 100;
    width: 30vw;
    height: 30vh;
    top: 30vh;
    left: 35vw;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    font: 16px arial;
    display: none;

    .log-panel-form {
        margin: 0;

        .log-panel-label {
            display: block;
            width: 100%;
            padding: 15px 0;
            color: grey;
            font-size: 16px;
            font-family: arial;
        }

        #username,
        #password {
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 10px 0px;
            border: 1px solid silver;
            font-size: 22px;
        }

        .login-button {
            width: 30%;
            margin-top: 10px;
            padding: 10px 0;
            text-align: center;
            border: 2px solid black;
            font-size: 15px;
            background-color: yellowgreen;
        }
    }

    .log-panel.visible {
        display: block;
        animation: fade-slide-in 0.3s ease-out forwards;
    }
}

// Booking main page

.header-menu {
    display: block;
    padding: 10px;
    background-color: silver;
    color: black;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    background-color: yellowgreen;
    color: white;
}

.main-section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid black;
    padding: 10px;
    // display: none;
}

.visible {
    display: block;
}

// confirm button

.confirm-btn {
    width: 10%;
    padding: 5px 0;
    text-align: center;
    border: 2px solid black;
    font-size: 16px;
    background-color: yellowgreen;
}

//flights 
#flights-main {
    display: block;
}

.flights-row {
    padding: 10px;
}

//passengers
#passengers-main {
    display: none;
}

.passengers-row {
    padding: 10px;
}

.passengers-form {
    border: 1px solid silver;
    padding: 10px;
}

//seats

.seats-col {
    padding: 10px;
    border: 1px solid silver;
    width: 49%;
    display: inline-block;
}

//packets

.packets-row {
    padding: 10px;
}

.packets-col {
    display: inline-block;
    padding: 10px;
    border: 1px solid silver;
}

//luggage

.luggage-row {
    padding: 10px;
}

.luggage-col {
    display: inline-block;
    padding: 10px;
    border: 1px solid silver;
}

//summary

.summary-row {
    padding: 10px;
}

.summary-col {
    display: inline-block;
}