* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1240px;
    margin: 0 auto;
}

// Header
nav {
    background-color: yellowgreen;

    ul {
        list-style: none;
        font-size: 0;

        li {
            display: inline-block;
            width: 50%;
            padding: 10px 0;

            a {
                display: block;
                font-size: 30px;
                color: white;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                padding: 10px;
            }
        }
    }
}

.btn-login {
    width: 20%;
    text-align: center;
    border: 2px solid white;
    margin-left: 75%;
    font-size: 15px;
}

.header-img {
    height: 40vh;
    background-image: url(../img/plane.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Formularz

main {
    display: block;
    background-color: white;
    height: 30vh;
    padding: 5px;
    background-color: rgb(245, 245, 245);
}

.main-form {
    display: block;
    border: 2px solid black;
    background-color: rgb(245, 245, 245);
    height: 100%;
    padding: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.booker-row-1 {
    position: relative;
    height: 50%;
    padding: 10px;

    .row-1-column-1 {
        display: inline-block;
        width: 40%;
    }

    .row-1-column-2 {
        display: inline-block;
        width: 40%;
    }
}

label {
    display: block;
}

.booker-row-2 {
    position: relative;
    height: 50%;
    padding: 10px;

    .row-2-column-1 {
        display: inline-block;
        width: 40%;

        .booker-half {
            display: inline-block;
            width: 45%;
        }
    }

    .row-2-column-2 {
        display: inline-block;
        width: 40%;
    }

    .row-2-column-3 {
        display: inline-block;
        width: 15%;
    }
}

// Login panel

.log-panel {
    width: 30vw;
    height: 30vh;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    font: 16px arial;

    .log-panel-form {
        margin: 0;

        .log-panel-label {
            display: block;
            width: 100%;
            padding: 15px 0;
            color: grey;
            font-size: 16px;
            font-family: arial;
        }

        #username,
        #password {
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 10px 0px;
            border: 1px solid silver;
            font-size: 22px;
        }

        .login-button {
            width: 30%;
            margin-top: 10px;
            padding: 10px 0;
            text-align: center;
            border: 2px solid black;
            font-size: 15px;
            background-color: yellowgreen;
        }
    }




}